{{> head}}
<body>
{{> navbar}}

<div class="row">

<div class="col-8 bg-info">
<h1>Atomic Monkey Studio</h1>
<p>
    Atomic Monkey es un studio dedicado al Diseño y desarrollo de Videjuegos
</p>
</div>

<div class="display-4 bg-transparent">
    <img src="Assets/img/am.png" alt="Atomic Monkey" sizes="10px" class="rounded mx-auto d-block" width = "50" height = "40">
</div>

    
</div>

</body>

{{> fother}}
